@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100vw;
    height: 100vh;
}

body{
    background-color: #233eff;
    color: white;
    text-shadow: 2px 2px 0 #16238b;
}

h1{
    padding: 1em;
    text-align: center;
}