@charset "UTF-8";

.App{
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

main{
    padding: 20px;
}

#nav-main-container{
    display: grid;
    grid-template: 1fr / min-content 1fr;
}