<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Save Employee</h1>
    <form th:action="@{/save}" method="post" th:object="${employee}">
        <input type="hidden" name="id" th:field="*{id}">

        <div class="inputs-container">
            <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            <input type="text" name="firstName" id="firstName" placeholder="First Name" th:field="*{firstName}">
        </div>

        <div class="inputs-container">
            <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            <input type="text" name="lastName" id="lastName" placeholder="Last Name" th:field="*{lastName}">
        </div>

        <div class="inputs-container">
            <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            <input type="text" name="email" id="email" placeholder="E-mail" th:field="*{email}">
        </div>

        <input type="submit" value="Save" class="btn saveBtn">
        <hr>
        <a th:href="@{/}">Back to dashboard</a>
    </form>
</body>
</html>