
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;

    background-color: #3A3D43;
    color: white;

    padding: 40px;
    border-radius: 20px;

    h1{
        color: #3CDA82;
        text-align: center;
        padding-bottom: 10px;
    }
}

p{
    font-size: 1.2rem;
    text-align: center;
}

form{
    display: flex;
    gap: 20px;
}

input{
    border-radius: 10px;
    padding: 10px;
    border: 0;
}

button{
    padding: 10px 0;
    background-color: #3CDA82;
    color: white;
    font-weight: bolder;
    border: 0;
    border-radius: 20px;
}

.field{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

ul{
    list-style-type: none;
    text-align: center;
}

img{
    width: 150px;
}