<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Leaders Page</title>
    <style>
        body{
            background-color: #2C2D31;
            color: white;
        }

        a{text-decoration: none; color: white}
        hr{margin: 20px 0}
    </style>
</head>
<body>
    <h1>Leaders Page</h1>

    <hr>

    <p>Secret information</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices eu nisl in dignissim. Nulla nec semper dolor. Vestibulum ullamcorper lorem nec consequat sodales. Fusce ante mauris, commodo sed sapien et, scelerisque aliquam metus. Aenean convallis dui fermentum, sagittis ligula quis, lacinia urna. Nulla nisl elit, vulputate non vestibulum eu, hendrerit mollis lectus. Etiam lectus justo, euismod eu dignissim vel, ultricies sed dolor. Fusce pellentesque, ligula a aliquam fringilla, elit odio volutpat nunc, vitae efficitur orci risus sed justo. Nulla lobortis mi at neque vestibulum mattis. Mauris tincidunt orci eget enim mattis gravida. Aenean scelerisque, dolor ac sagittis ullamcorper, nibh arcu laoreet lorem, non egestas enim turpis sed nibh. Sed vestibulum ligula orci. Phasellus odio ligula, hendrerit vel augue nec, tincidunt elementum justo.</p>

    <hr>

    <a th:href="@{/}">Back to home page</a>
</body>
</html>