<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Systems Page</title>
    <style>
        body{
            background-color: #2C2D31;
            color: white;
        }

        a{text-decoration: none; color: white}
        hr{margin: 20px 0}
    </style>
</head>
<body>
    <h1>Systems Page</h1>

    <p>Secret information</p>
    <p>Quisque faucibus rutrum ex, ut malesuada metus accumsan id. Sed erat augue, gravida sit amet dignissim quis, lobortis nec lectus. Nunc aliquet quam dui, et malesuada leo tristique vel. Nunc at nisl quis arcu feugiat vehicula. Duis non augue augue. Donec volutpat facilisis risus, et venenatis lacus eleifend sit amet. Vivamus tincidunt, nulla et porttitor sollicitudin, tortor augue lacinia orci, a luctus lectus urna a diam. Vivamus aliquet faucibus neque vitae tempor. Ut lacinia dolor non efficitur molestie. Duis gravida urna eros, et maximus ex bibendum vel. Aenean venenatis fermentum blandit.</p>

    <hr>

    <a th:href="@{/}">Back to home page</a>
</body>
</html>