<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acess Denied</title>
    <style>
        body{
            background-color: #2C2D31;
            color: white;
        }

        a{text-decoration: none; color: white}
        hr{margin: 20px 0}
    </style>
</head>
<body>
    <h1>Acess Denied</h1>
    <p>You can't acess this page</p>
    <hr>
    <a th:href="@{/}">Back to home page</a>
</body>
</html>